{% extends "base.html" %}
{% block content %}


<h2 class="text-center text-primary mb-4">Change Profile Picture</h2>
<form method="POST" enctype="multipart/form-data" class="p-4 bg-white rounded">
    <div class="text-center mb-3">
        <img src="/static/uploads/{{ user.profile_images }}" width="150" height="150" class="rounded-circule">
    </div>


    <div class="mb-3">
        <label class="mb-3">Choose New Profile images</label>
        <input type="file" name="profile_image" class="form-control" required>
    </div>


    <button class="btn btn-success">Uplod</button>
    <a href="/profile" class="btn btn-secondary">Cancle</a>

</form>


{% endblock %}