{% extends "base.html" %}
{% block content %}

<h2 class="text-center text-success mb-4">Manage Contact Message</h2>
<table class="table table-bordered table-striped shadow text-center">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.message }}</td>
            <td>
                <a href="{{ url_for('admin_contact_history', id=c.id) }}"
                   class="btn btn-info btn-sm mb-1">
                   View History
                </a>

                <a href="/delete-contact/{{ c.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure ?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 











             -->